#about {

  .row {
    margin: 0;
  }

  @font-face {
      font-family: 'fat-frank'; /*a name to be used later*/
      src: url('../fonts/FatFrank-Free.otf'); /*URL to font*/
  }

  .login-bg-image {
      background-size: cover;
      height: 410px;
      width: 100%;
  }

  .login-bg-image:after {
    position: absolute;
    width: 100%;
    height: 410px;
    content: "";
    background: url("../images/cover-mask.png") 0 410px;
    background-size: cover;
    border-bottom: solid 5px #28575A;
  }

  .row-space {
    margin: 10px 0;
  }

  .fatfrank {
    font-family: 'Monsterrat-ExtraBold', sans-serif !important;
  }

  .login-text {
    font-size: 13px;
    color: @white;
  }

  .login-brand-style {    
    font-family: 'Monsterrat-ExtraBold', sans-serif !important;
    color: white;
    font-size: 35px;
    margin-bottom: 40px;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
  }

  .brand-logo-style {
    padding: 20px 0;
    width: 120px;
  }

  .half-pad-right {
    padding-right: 7.5px;
  }

  .half-pad-left {
    padding-left: 7.5px;
  }

  .brand-footer span {
    background-color: @white;
      z-index: 100;
      position: relative;
      text-align: center;
      padding: 0 20px;
  }

  .brand-footer p:before {
    position: absolute;
    border-top: solid 1px #BDBDBD;
    border-bottom: solid 1px #DBDBDB;
    width: 100%;
    height: 2px;
    content: "";
    left: 0;
    top: 9px;
  }

  .login-facebook {
    cursor: pointer;
  }

  .slider-wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
  }

  .slider-wrapper {
      position: fixed;
      min-height: 100%;
      height : 100%;
      width: 100%;
  }

  .slider-wrapper .slide {
      position:absolute;
      left: 0;
      min-height: 100%;
      height: 100%;
      width: 100%;
      top: 0;
  }

  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 50px;
  }

  .slide:before {
    content: "";
    background-image: url("../images/pattern.png");
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .slide-1 {
    background-image: url('../images/cover-1.jpg');
  }

  .slide-2 {
    background-image: url('../images/cover-2.jpg');
  }

  .slide-3 {
    background-image: url('../images/cover-3.jpg');
  }

  .slide-4 {
    background-image: url('../images/cover-4.jpg');
  }

  .slide-5 {
    background-image: url('../images/cover-5.jpg');
  }

  .slide-6 {
    background-image: url('../images/cover-6.jpg');
  }

  .half-unfixed {
    position: relative;
    min-height: 420px;
    height: 420px;
  }

  .padding-content {
    padding: 0px 225px 0px;
  }

  img.wrap {
    /* corrects inline gap in enclosing div */
    display: block;
    max-width: 100%;
    max-height:100%;
    margin: auto;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
  }

  .img-left {
    float: left;
  }

  .spn-header {
    margin-top: 40px;
    text-align: center;
    font-size: 2.5em;
    color: #444444;
  }

  .spn-text {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #898f9c;
  }

  .spn-text-name {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #444444;
  }

  .spn-text-pos {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    color: #898f9c;
  }

  .spn-cite {
    margin-top: 10px;
    font-size: 9px;
    color: #898f9c;
  }

  .cite {
    margin-top: 60px;
    background-color: #f6f6f6;
  }

  .spn-link {
    color: #129CCF;
    cursor: pointer;
  }

  .divider {
    border: 1px solid #f3f3f3;
    border-width: 0px 0px 2px;
    margin: 10px 0px 5px;
  }

  .no-top-margin {
    margin-top: 0;
  }

  .no-btm-margin {
    margin-bottom: 0;
  }

  .footer-space {
    margin: 30px 0;
  }

  section#login-container {
    margin-top: 100px;
  }

  .petgago-logo {
    width: 60px;
  }

  .no-pad {
    padding: 0 !important;
  }

  .no-p-l {
    padding-left: 0 !important;
  }

  .no-p-r {
    padding-right: 0 !important;
  }

  .about-container {
    position: absolute;
    min-height: 500px;
    height: auto !important;
    height: 500px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #898F9C;
    background-color: white;
    overflow: hidden;
  }

  .about-content {
    text-align: center;
    position: absolute;
    height: 650px;
    width: 100%;
    margin-top: 60px;
    padding: 0px 150px 60px;
  }

  .about-content p {
    white-space: nowrap;
    overflow: hidden;
  }

}

#about ~ footer {
  position: absolute;
  padding: 10px 0px 5px;
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  height: 60px;
  background-color: #f0f0f0;

  p a {
    color: #129CCF;
  }

  span {
    color: #898F9C;
  }

  .about-spn-f {
    color: #129CCF;
  }

  .row {
    background-color: #f0f0f0;
    margin: 0;
  }

}