#cart-body {

  .empty-cart-container {
    margin-top: 40px;
    .glyphicon-shopping-cart {
      font-size: 188px;
      color: #E2E2E2;
      text-shadow: 0px 2px #C3C3C3;
    }
  }

  img.pay-thru {
    width: 100%;
    max-height: 61px;
  }

  .paypal-radio-btn {
    vertical-align: middle;
    height: 61px;
  }

  .contact-owner-textarea {
    min-height: 150px;
    resize: vertical;
  }

  .message-to {
    color: #8E8E8E;
  }

  .loading-div > div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding-top: 30px;
  }

  .quantity-select {
    width: 66px;
    display: inline-block;
  }

  .compute-cost-container {
    table.table {
      tr td {
        &:nth-child(2) {
          min-width: 75px;
        }
      }
    }
  }

  .cart-item-list-container {
    .cart-item-list {
      border-bottom: solid 1px #DDDDDD;
      &:last-child {
      border-bottom: none;
      .p-b-s;
      .m-b-s;
      }
    }
  }
}
