@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 5px;
    margin: 0 auto;
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 270px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-right,
.background-masker.content-third-end,
.background-masker.content-first-end,
.background-masker.content-fourth-line,{
    top: 145px;
    left: 0;
    right: 0;
    height: 10px;
}

.background-masker.content-top {
    height:15px;
}

.background-masker.content-first-end,
.background-masker.content-second-right,
.background-masker.content-third-end,
.background-masker.content-fourth-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 145px;
    height: 15px;
}

.background-masker.content-second-line  {
    top: 175px;
}

.background-masker.content-second-right {
    left: 188px;
    top: 160px;
}

.background-masker.content-third-line {
    top: 200px;
}

.background-masker.content-third-end {
    left: 160px;
    top: 185px;
}

.background-masker.content-fourth-line {
    top: 225px;
}

.background-masker.content-fourth-end {
    left: 115px;
    top: 210px;
}

