.cropit-preview {
  /* You can specify preview size in CSS */
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #DADADA;
}

input.cropit-image-input, #category-thumbnail-file-btn {
  visibility: hidden;
  height: 0;
}

.cropit-preview-background-container {
  overflow: inherit !important;
}

.cropit-preview-image-container {
  cursor: -webkit-grab;
  &:active{
    cursor: -webkit-grabbing;
  }
}

/* Translucent background image */
.cropit-preview-background {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}
