#shop-module {
  .shop-header {
    .div-container;
  }

  .shop-header-slider-div {
    background: url('../images/banner-1.jpg') no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
  }

  .shop-header-hr {
    margin-top: 0;
  }

  .hot-items-list {
    margin-bottom: 10px;
  }
}

#shop-container {
  #highlights-container {
    #highlight-carousel {
      .carousel-inner {
        img {
          .f-w;
          max-height: 346px;
          object-fit: cover;
        }
      }
    }
    .highlight-item-div {
      .img-full {
        min-height: 127px;
        max-height: 127px;
      }
      .item-desc p {
        margin-bottom: 0;
      }
    }
  }
  .main-category-filter {
    @media (min-width: 768px){
      border-right: solid 1px #A9A9A9;
    }
    li {
      padding: 8px 10px;
      text-transform: capitalize;
      &:hover {
        background-color: #E8E8E8;
      }
    }
  }
  .main-category-filter {
    .pointer;
  }

  .subcategory-filter {
    .m-t-s;
    p {
      a {
        color: #353535;
      }
    }
  }
  #category-navbar {
    background-color: @white;
    border-bottom: solid 1px #ECECEC;
    .container {
      .no-pad;
    }
    .navbar-nav li a {
      color: #2F2F2F;
      &:hover {
        border-bottom: solid 2px @color-primary;
        margin-bottom: -2px;
        box-sizing: border-box; /* Opera/IE 8+ */
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
      }
    }
  }
  .breadcrumbs {
    font-size: 13px;
  }
}

