#message-body {
  .no-message-container {
    text-align: center;
    h4 {
      text-shadow: 0 1px #FFF;
      color: #848484;
    }
    .fa-envelope {
      color: #E4E4E4;
      text-shadow: 0 1px #D2D2D2;
    }
  }
  .div-container {
    padding: 0 5px 0;
    .pos-rev;
  }
  .thread-list {
    height: calc(55vh);
  }
  .thread-container {
    height: calc(55vh);
  }
  .media {
    img {
      width: 45px;
    }
    .sent-message {
      color: #919191;
      font-size: 12px;
    }
  }
  .thread-list-container {
    // &:before {
    //   box-shadow: -19px 0px 19px -19px #C3C3C3 inset;
    //   content: " ";
    //   height: 100%;
    //   right: 0px;
    //   position: absolute;
    //   top: 0;
    //   width: 15px;
    // }

    .thread-list {
      .row {
        .no-m-i;
        .pointer;
        > .col-sm-12.p-v-s {
          border-bottom: solid 1px #EEEEEE;
        &:last-child > .col-sm-12.p-v-s {
          border-bottom: 0;
          }
        }
        &:hover {
          background-color: #F1F1F1;
        }
      }
    }
  }

  .main-conversation-container {
    border-left: solid 1px #D0D0D0;
    position: relative;
    .media {
    }
  }

  .bubble-chat {
    padding: 5px;
    background-color: #2196B1;
    color: #FFF;
    border-radius: 3px;
    margin-left: 8px;
    display: inline-block;
    max-width: 98%;
    word-break: break-word;
  }

  .arrow-left {
    width: 0;
    height: 0px;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 13px solid #2196B1;
    position: absolute;
    top: 30px;
  }
  .chat-name {
    font-size: 14px;
  }
  .p-v-s {
    padding: 7px 0;
  }
  .message-box {
    padding: 5px 5px 37px;
    background-color: #E4E4E4;
    border-top: solid 1px #C5C5C5;
    position: relative;
    .send-message-textbox {
      height: 70px;
      resize: none;
      padding: 5px;
    }
  }
  .btn-sendmessage {
    position: absolute;
    right: 6px;
    bottom: 6px;
    padding: 4px;
    font-size: 11px;
  }

  .chain-msg-padding {
    padding-left: 45px;
  }
}
