#product-placement{
  #product-tags {
    .copy-product-tag {
        cursor: pointer;
    }
    .tooltip {
      left: -19.5px !important;
      .tooltip-arrow {
        left: 72% !important;
      }
    }
  }
}

#item-detail-module {
  #product-tags {
    .copy-product-tag-copied {
      color: @font-color;
    }
  }
}

#shop-module {
  #product-tags {
    .copy-product-tag-copied {
      color: @white;
    }
  }
}


#message-box {
  .textarea-div {
    padding: 10px;
  }

  .textarea-div:focus {
    outline: 0px solid transparent;
  }
}


.commission-icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px;
  z-index: 1;
}

#notFound-container {
  img {
    width: 100%;
  }
  margin-top: 60px;
  @media (min-width: 768px){
    .notFound-desc {
      margin-top: 120px;
    }
  }
  .btn-home {
    background-color: transparent;
    font-weight: bold;
    border: solid 2px #BDBDBD;
    color: #BDBDBD;
    text-transform: uppercase;
    border-radius: 3px;
    transition: .3s all;
    &:hover {
      color: @color-primary;
      border-color: @color-primary;
    }
  }
}

.rp-hr {
  border-top: solid 1px #DEDEDE;
}
