#orderlist {
  .product-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px 3px 0 0;
  }

  .item-div {
    border: solid 1px #E2E2E2;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  .item-list-detail-div {
    padding: 0 8px 5px;
    background-color: #FFFFFF;
    border-top: solid 1px #E2E2E2;
    border-radius:  0 0 3px 3px;
  }
}
.searchbox{
  z-index:0 !important;
}
