#payment-container {
  max-width: 700px;
  .m-t-s;
  img.pay-thru {
    width: 100%;
  }
  .total-pay {
    font-size: 20px;
  }

  #loading-screen {
    .modal-dialog {
      margin: 130px auto;
    }
  }
}
