#profile-body {
  .birthday-row {
    .fa-birthday-cake {
      width: 6%;
      margin: 9px 6px;
    }
    select.form-control {
      &:nth-child(2) {
        width: 23%;
      }
      &:nth-child(3) {
        width: 30%;
      }
      &:last-child {
        width: 30%;
      }
    }
  }

  .profile-video-container {
    .video-content {
      min-height: 400px;
      border: solid 1px;
      background-color: #ECECEC;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      border-radius: 3px;
    }
  }

  .profile-product-content {
    .profile-product-container {
      border: solid 1px #D8D8D8;
      .m-b-s;
      hr {
        margin: 5px 0;
      }
      img {
        width: 100%;
      }
      .product-details {
        padding: 5px;
        p {
          margin-bottom: 5px;
        }
        p.item-name {
          font-size: 15px;
        }
        p.item-price {
          color: #2C9227;
        }
      }
    }
  }

  #messageOwner {
    .contact-owner-textarea {
      min-height: 180px;
    }
  }

  .overhead-buttons {
    // padding-top: 15px;
    z-index: 3;
  }

  .profile-video-link-container, .cover-video-link-container {
    position: relative;
      .glyphicon {
        position: absolute;
        right: 8px;
        top: 7px;
        font-size: 19px;
      }
      .valid-link {
        color: #399A46;
      }
      .invalid-link {
        color: #E46565;
      }
    }
    .btn-new-vid {
      line-height: 20px;
    }
  .progress {
    .no-margin;
  }

  .info-container {
    > div.m-t-s {
      position: relative;
    }

    .editing-glyphicon-style {
      position: absolute;
      top: 10px;
      left: 6px;
      ~ .form-control {
        padding-left: 22px;
      }
    }
  }

  .profile-side-tab {
    .m-t-s;
    .pointer;
    .badge {
      background-color: #E85454;
    }
    li.list-group-item {
      &:hover {
        background-color: #E4E4E4;
        border-color: #D2D2D2;
      }
    }
    li.list-group-item.active {
      background-color: #D6D6D6;
      border-color: #B9B9B9;
      color: #333333;
    }
  }

  #purchased-item-container, #customer-order-container {
    .no-border-top {
      border-top: 0;
    }
  }

  .avatar-photo-container {
    position: relative;
    img {
      border: solid 1px rgba(0, 0, 0, 0.1);
      border-radius: @project-radius;
      width: 100%;
    }
  }

  .profile-content-container {
    padding: 15px;
    margin-bottom: 15px;
    border: solid 1px @pg-border;
    border-radius: 3px;
    background-color: @white;
  }

  .cover-video-container {
    position: relative;
    width: 100%;
  }

  .cover-video {
    background-color: #BDBDBD;
  }

  .cover-video-empty {
    background-color: white;
    /**border: solid 3px rgba(255, 255, 255, 0.5);**/
    cursor: pointer;
  }

  .update-loading {
    position: absolute;
    top: 0;
    width: 95.9%;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .cover-video-loading {
    max-height: 397.125px;
    width: 100%;
  }

  .cover-video-loading-gif {
    max-height: 397.125px;
    padding: 90px;
  }

  .avatar-photo-loading {
    width: 100%;
    padding: 35%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .profile-video:hover ~ .change-pp,
  .profile-video-placeholder:hover ~ .change-pp,
  .change-pp:hover,
  .cover-video:hover:hover ~ .change-cover-video,
  .change-cover-video:hover {
    display: block;
    opacity: 1;
    position: absolute;
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    width: 100%;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
    top: 0;
  }

  .change-pp:hover, .change-cover-video:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  .change-pp > i, .change-cover-video > i {
    font-size: 21px;
    vertical-align: middle;
  }

  .glyphicons-edit-style {
    font-size: 16px;
    margin-top: -2px;
    .pointer;
  }

  .admin-mode {
    font-size: 12px;
    vertical-align: middle;
  }

  .categories-container {
    .pointer.active {
      background-color: #CBF3D5;
    }
    ~ .subcategories-container {
      .table h5 {
        margin: 5px 0;
      }
      .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 2px;
        }
      td {
        &:hover {
          background-color: #CBF3D5;
        }
      }
    }
    .text-primary.fa-plus.m-l-xs {
      &:hover {
        vertical-align: -1px;
      }
    }
  }

  .add-category-hollow-btn {
    font-size: 11px;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 2px;
    padding: 2px;
    .pointer;
    &:hover {
      color: #21527B;
      border-color: #21527B;
    }
  }

  .category-thumbnail-container {
    .pointer;
    min-height: 278px;
    background-color: #EFEFEF;
    border: solid 1px #BDBDBD;
    border-radius: 3px;
    h3 {
      margin-top: 115px;
      color: #C7C7C7;
      text-shadow: 1px 1px #FFF;
    }
  }

}

.deleteCategoryClass {
  .modal-content {
    border-radius: 3px 3px 0 0;
    .modal-body {
      .close {
        margin-top: -3px !important;
      }
    }
  }
}
