// ------------------ for MIXIN --------------------------------------------

// mixin are classes that can be injected directly into other classes for improve usability
// ex.
// .my-container {
//    .elipses;
//}

//  --------------- edit bootstrap default ------------------------

.row, .form-horizontal .form-group {
  margin-right: -5px;
  margin-left: -5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

//  --------------- end edit bootstrap default -------------------

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.div-container {
  border: solid 1px #E2E2E2;
  border-radius: @project-radius;
  padding: 5px;
  background-color: @white;
}

.modal-header {
  background-color: #F5F5F5;
  border-bottom: solid 1px #E0E0E0;
  color: #4C4C4C;
  .p-s;
}

.modal-title {
  font-size: 15px;
  // text-transform: capitalize;
  font-weight: bold;
  color: #545454;
}

.modal-body {
  .p-s;
}

.panel-body {
  .pos-rev;
  .p-s;
}

.modal-footer {
  .p-s;
  background-color: #F5F5F5;
  border-top: solid 1px #E0E0E0;
  border-radius: @project-radius;
}

.btn {
  font-size: 12px;
  text-transform: uppercase;
  border-radius: @project-radius;
}

.btn-primary {
  background-color: @color-primary;
  color: @white;
  &:hover, &:active:focus, &:focus, &:active:hover {
    background-color: darken(@color-primary, 8%);
    border-color: darken(@color-primary, 8%);
  }
}

.btn-hollow {
  background-color: transparent;
  font-weight: bold;
  border: solid 2px @white;
  color: @white;
  text-transform: uppercase;
  border-radius: 3px;
  transition: .3s all;
  &:hover {
    color: @white;
    background-color: @color-primary;
    border-color: darken(@color-primary, 35%);
  }
}

// -------------------------------------------------------------------------

.header {
  background-color: @nav-color;
}

.bold {
  font-weight: bold;
}

.f-i {
  font-style: italic;
}

.no-margin, .no-m {
  margin: 0;
}

.no-m-i {
  margin: 0 !important;
}

.no-pad {
  padding: 0;
}

.no-pad-i {
  padding: 0 !important;
}

.no-pad-left-i {
  padding-left: 0 !important;
}

.no-pad-right-i {
  padding-right: 0 !important;
}

.no-pad-top-i {
  padding-top: 0 !important;
}

.no-pad-bottom-i {
  padding-bottom: 0 !important;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.no-m-t {
  margin-top: 0;
}

.no-m-l {
  margin-left: 0;
}

.no-m-r {
  margin-right: 0;
}

.no-p-r {
  padding-right: 0;
}

.no-p-b {
  padding-bottom: 0;
}

.no-p-l {
  padding-left: 0;
}

.no-m-b {
  margin-bottom: 0;
}

.p-t-s {
  padding-top: 10px;
}

.p-r-s {
  padding-right: 10px;
}

.p-b-s {
  padding-bottom: 10px;
}

.p-l-s {
  padding-left: 10px;
}

.p-sd-s {
  padding: 0 10px;
}

.p-v-s {
  padding: 10px 0;
}

.m-auto {
  margin: 0 auto;
}

.m-t-s {
  margin-top: 10px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-m {
  margin-top : 20px;
}

.m-t-l {
  margin-top : 40px;
}

.m-b-m {
  margin-bottom: 20px;
}

.m-v-m {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-b-s {
  margin-bottom: 10px;
}

.m-r-s {
  margin-right : 10px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-l-s {
  margin-left: 10px;
}

.m-l-xs {
  margin-left: 5px;
}

.m-bs-s {
  margin : 0 10px;
}

.m-bv-s {
  margin : 10px 0;
}

.m-s {
  margin : 10px;
}

.p-s {
  padding: 10px;
}

.p-xxl {
  padding: 100px;
}

.v-l-m {
  vertical-align: middle;
}

.v-l-m-i {
  vertical-align: middle !important;
}

.v-resize {
  resize: vertical;
}

.va-super {
  vertical-align: super;
}

.va-top {
  vertical-align: top;
}

.va-i {
  vertical-align: inherit;
}

.chisel-gray-line {
  border-top: 1px solid #F3F3F3;
}

.lh-standard {
  line-height: 32px;
}

.visibility-hidden {
  visibility: hidden;
}

.text-decor-none:hover, .text-decor-none:focus {
  text-decoration: none;
}

.cursor-point:hover, .pointer {
  cursor: pointer;
}

.hover-with-color:hover {
  background-color: @grey;
}

.hover-italize:hover {
  font-style: italic;
}

.brand-container > .outer-container {
  .m-t-s;
}

.img-full, .f-w {
  width: 100%;
}

.h-w {
  width: 50%;
}

.white {
  color: @white;
  &:hover {
    color: @color-primary;
  }
}

.grey-bg {
  background-color: @grey
}

.hidden-pg, .hidden-container {
  display: none;
}

.hidden-row {
  padding: 0 !important;
}

.no-border {
  border: 0;
}

.no-border-top {
  border-top: 0;
}

.pos-rev {
  position: relative;
}

.non-resize {
  resize: none;
}

.form-control {
  border: solid 1px #C7C7C7;
  border-radius: 3px;
  box-shadow: none;
  &:focus {
    box-shadow: none;
    border-color: #129CCF;
  }
}

.d-flex, .table-flex {
  display: flex;
}

//------------------------- Project-dependent styling here; Common component styling ---------------------------------

#search-container {
    background-color: #ECECEC;
    padding: 5px;
    border-radius: 3px;
}

a.back-link {
  &:hover {
    color : #1569A9;
  }
}

#app-body {
    min-height: 100%;
}

.subcategory-container {
  ul li {
    padding: 7px 10px;
    .pointer;
    &:hover {
      background-color: #7DABB9;
      color: #FFF;
    }
  }
}

.outer-container {
  width: 1160px;
  margin: 0 auto;
}

.or-hr {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #E0DEDE;
  line-height: 0.1em;
  margin: 10px 0 25px;
}

.or-hr span {
    background: #F3F3F3;
    padding:0 10px;
    text-transform: uppercase;
}

.highlight-item-div {
  background-color: @white;
  border: solid 1px #D2D2D2;
  @media (max-width: 768px){
    .m-b-s;
  }
  img {
    object-fit: cover;
    display: block;
  }
  .img-full {
    min-height: 127px;
    max-height: 127px;
    .animated-background;
  }
  .highlight-banner {
    min-height: 359px;
    max-height: 359px;
    width: 100%;
    background-color: #F3F3F3;
  }
  .item-desc {
    min-height: 47px;
    padding: 5px;
    border-top: solid 1px #EDEEEE;
    position: relative;
    p {
      margin-bottom: 5px;
      text-decoration: none;
    }
    .item-title {
      font-size: 15px;
      .ellipsis;
    }
    .item-more-desc {
      span:first-child {
        margin-right: 3px;
      }
      .ellipsis;
      font-size: 11px;
      text-align: left;
      display: block;
      width: 55%;
    }
    .item-price {
      .ellipsis;
      color: #2C9227;
      position: absolute;
      right: 7px;
      bottom: 4px;
      text-align: right;
      float: left;
    }
  }
  &:hover {
    border: solid 1px #97A6AB;
  }
}

.alert {
  .m-b-s
}

.rating-full, .rating-empty {
  color: #E0C638;
}

.select-has-error {
  background-color: #FFEDEE;
}

.input-has-error {
  background-color: #FFEDEE;
}



.red {
  color : red;
}
//--------------------------------------------------------------------------------------------------------------------
