#selecteditem-container {
    .breadcrumbs {
        font-size: 13px;
    }
    .shop-product-owner {
      span {
        .m-r-s;
    }
  }

  .comment-thumbnail {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 5px;
    background-color: #FFF;
  }

  .tags {
    a {
      margin-right: 5px;
    }
  }

  .item-detail-description {
    word-break: break-all;
  }
}
